<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Sentiment Analysis App</title>
</head>
<body>
    <header class="hero">
        <h1>Sentiment Analysis App</h1>
        <h1><a href="https://github.com/AkuratiHemanth">Akurati Hemanth</a></h1>
    <p>Analyze the sentiment of your tweets!</p>
    <div class="social-links">
        <a href="https://github.com/AkuratiHemanth" target="_blank"><img src="{{ url_for('static', filename='github-icon.png') }}" alt="GitHub"></a>
        <a href="https://www.linkedin.com/in/hemanth-akurati-999ask999" target="_blank"><img src="{{ url_for('static', filename='linkedin-icon.png') }}" alt="LinkedIn"></a>
    </div>
    </header>

    <section class="user-input">
        <h2>Enter a Tweet</h2>
        <form method="POST">
            <textarea name="user_tweet" rows="4" cols="50"></textarea><br>
            <button type="submit">Analyze</button>
        </form>
    </section>

    <section class="result">
        {% if sentiment_result %}
        <h2>Result: {{ sentiment_result }}</h2>
        <img src="{{ wordcloud_img }}" alt="WordCloud Image">
        {% endif %}
    </section>
</body>
</html>

